@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
    background: linear-gradient(to right, #333, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grayShadow {
    box-shadow: 3px 3px 1px 1px #ddd;
}

.grayShadow:hover {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 1px 1px #ddd;   
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.dark .textGradient {
    background: linear-gradient(to right, #ccc, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .grayShadow {
    box-shadow: 3px 3px 1px 1px #444;
}

.dark .grayShadow:hover {
    box-shadow: 0px 0px 1px 1px #444;
}